<h1>To-do App with Node.js and MongoDB</h1>
<p>This ToDo app was implemented using Node.js, Express.js, and MongoDB for CS 279R. You can see more information in the Github repo below:</p>
<a href="https://github.com/ekassos/to-do-app-Node.js-MongoDB" target="_blank" class="btn btn-success btn-sm">Source Code and Documentation</a>
<br></br>
<p>I'm also building a similar to-do app each week with different frameworks. Track all projects below:</p>
<a href="https://github.com/ekassos/to-do-apps" target="_blank" class="btn btn-secondary btn-sm">All Project Tracker</a>