<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Use this app to manage your daily tasks.</p>
    <a href="/todo/" class="btn btn-success btn-lg">Get started</a>
</div>